#whole {
    display: flex;
    flex-direction: row;
}

#topbar {
    margin: 10px;
    padding: 5px;

    display: flex;
    flex-direction: row;
    flex-shrink: 1;

    justify-content: center;

}

#topbar
button {
    background-color: indigo;
    color: black;
    border-radius: 1rem;
    margin: 10px;
    padding: 5px;
    font-size: x-large;
    
}

#topbar 
button:hover {
    background-color: #663399;
}

#dynamicInputField {
    padding: 5px;
    color: black;
    border-radius: .5rem;
}

#dynamicInputField:focus {
    border: none;
    outline: none;
}

#newNotebookCancel {
    padding: 5px;
    background-color: indigo;
    margin: 5px;
    border-radius: .5rem;
}

#newNotebookCancel:hover {
    background-color: #663399;
}

#sidebar {
    display: flex;
    flex-direction: column;
    border-right: black solid 2px;
    height: 100vh;
    width: 33vw;

}

#notebookViewer {
    padding: 15px;
}

#mainpage {
    display: flex;
    flex-direction: column;
    width: 66vw;
    height: 100vh;
}

#textEditor {
    width: 100%;
    height: 100%;

    padding: 10px;
}

#textEditor:focus {
    border: none;
    outline: none;
}

#textEditorMenu {
    width: 100%;
    height: fit-content;
    border-bottom: black solid 2px ;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

#textEditorMenu button {
    padding: 10px;
    border: black solid 1px;
}

.notebook-header {
    padding: 5px;
    background-color: indigo;
    margin: 5px;
    border-radius: .5rem;

}

.notebook-header:hover {
    background-color: #663399;
}



.note-list {
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.note {
    width: 50%;
    background-color: #663399;
    text-align: center;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: .5rem;

}

.note:hover {
    background-color: indigo;
}

